In [40]:
import geopandas as gpd
import pandas as pd
import sqlalchemy as sqa
from geoalchemy2 import Geography

df = gpd.read_file('tl_2020_42_bg/tl_2020_42_bg.shp')

df.rename_geometry('geog', inplace=True)

df = df.to_crs(epsg=4326)

df

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geog
0,42,095,017607,1,420950176071,Block Group 1,G5030,S,3630118,6583,+40.6596385,-075.3007587,"POLYGON ((-75.31069 40.65447, -75.31062 40.654..."
1,42,095,016700,2,420950167002,Block Group 2,G5030,S,4641027,10091,+40.7539083,-075.2921836,"POLYGON ((-75.34699 40.74173, -75.34698 40.742..."
2,42,095,016700,3,420950167003,Block Group 3,G5030,S,3154121,197980,+40.7480489,-075.2846810,"POLYGON ((-75.30571 40.74680, -75.30563 40.746..."
3,42,075,003300,2,420750033002,Block Group 2,G5030,S,1067227,0,+40.3407550,-076.3887580,"POLYGON ((-76.39726 40.34285, -76.39669 40.343..."
4,42,075,003300,3,420750033003,Block Group 3,G5030,S,2313944,0,+40.3430610,-076.3741725,"POLYGON ((-76.39028 40.34550, -76.39017 40.345..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10168,42,049,011510,3,420490115103,Block Group 3,G5030,S,13241001,15228,+42.1650322,-079.9276203,"POLYGON ((-79.95527 42.16582, -79.95508 42.165..."
10169,42,049,011511,2,420490115112,Block Group 2,G5030,S,1405291,9027,+42.1264071,-079.9722803,"POLYGON ((-79.98514 42.12663, -79.98275 42.127..."
10170,42,053,530200,1,420535302001,Block Group 1,G5030,S,208286164,4973148,+41.5108026,-079.4646172,"POLYGON ((-79.52202 41.46522, -79.52052 41.465..."
10171,42,053,530200,2,420535302002,Block Group 2,G5030,S,364019422,2929205,+41.5245148,-079.3102892,"POLYGON ((-79.43921 41.54408, -79.43910 41.544..."
10172,42,053,530100,3,420535301003,Block Group 3,G5030,S,839608,0,+41.4797608,-079.0975573,"POLYGON ((-79.10458 41.48337, -79.10383 41.483..."

In [3]:
USERNAME = 'postgres'
PASSWORD = 'postgres'
DATABASE = 'assignment_2'

In [41]:
engine = sqa.create_engine(
    f'postgresql://{USERNAME}:{PASSWORD}@localhost:5432/{DATABASE}'
)
df.to_postgis(
    'blockgroups_2020',
    engine,
    dtype={'geog': Geography()},
    schema='census',
    if_exists='replace',
    index=False,
)

In [38]:
df.dtypes

STATEFP       object
COUNTYFP      object
TRACTCE       object
BLKGRPCE      object
GEOID         object
NAMELSAD      object
MTFCC         object
FUNCSTAT      object
ALAND          int64
AWATER         int64
INTPTLAT      object
INTPTLON      object
geog        geometry
dtype: object